.venv*/
__pycache__/
*.py[cod]
build/
dist/
*.build/
*.dist/
*.onefile-build/
.test-output/
*.sqlite3
*.sqlite3-*
*.egg-info/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
.idea/
.vscode/
.DS_Store
Thumbs.db
.env
.env.*
!.env.example
